{% load staticfiles %}
<html>
    <head>
        <title>ZIPPI</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/zippi.css' %}">

	
 </head>
    
    <body>
	<div class="page-header">
        	<h1><a href="/">ZIPPI - Your Travel Companion</a></h1>
        </div>
        
	<div class="content container">
        	<div class="row">
        		<div class="col-md-8">
                
			{% block content %}
        		{% endblock %}
                
			</div>
           	 </div>
       	</div>
   	</body>
</html>