{% load staticfiles %}


<!DOCTYPE html>
<html>

<head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/zippi.css' %}">
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    
	<title>ZIPPI</title>
    	
	<style>
      	#map-canvas {
        width: 800px;
        height: 400px;
      	}
    	</style>
    
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    	<script>
		
		
		
		function initialize() {
  		var myLatlng = new google.maps.LatLng({{map_lat}},{{map_long}});
  		var mapOptions = {
    		zoom: 15,
    		center: myLatlng
  		}
  		
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var bounds = new google.maps.LatLngBounds();
		
		{% for pin in pins %}

			{% if pin.category == "AC" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/FFBB55/");
			{% elif pin.category == "FO" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/CC0033/");
			{% elif pin.category == "OU" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/33CC33/");
			{% elif pin.category == "CU" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/6611DD/");
			{% elif pin.category == "SH" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/FF5577/");
			{% elif pin.category == "NL" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/997766/");
			{% elif pin.category == "CO" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/9977EE/");
			{% elif pin.category == "OT" %}
				var image = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/424242/");		
			
			{% endif %}  		
		
		var myLatlng = new google.maps.LatLng({{pin.pin_lat}},{{pin.pin_long}});
		
		var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
			icon: image,
      			title: '{{pin.comment|escapejs}}'
  		});
	
		bounds.extend(marker.position);	
		{% endfor %}		
		map.fitBounds(bounds);
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);

    	</script>
</head>

<body>
    	

	<div class="page-header">
	<h1><a href="/home/">ZIPPI - Your Travel Companion</a></h1>
        </div>

	
	<div class="container">
		<div class="row">
  	
			<div class="col-sm-3">
				<br/><br/><br/><br/><br/><br/>
				<p><a href="../../pin/new/{{map_id}}/" class="Listbtn btn-success btn-lg"><span class="glyphicon glyphicon-pushpin"></span> Set Pin on Map</a></p>
				<br/>
				<p><a href="../../pinlist/{{map_id}}/" class="Listbtn btn-success btn-lg">Show List of Pins<a></p> 
				<br/>
				<p><a href="{% url 'zippi.views.map_list' %}" class="Listbtn btn-success btn-lg">Return to My Maps</a></p>
				<br/><br/>
				<p><a href="/mymap/{{map_id}}/delete" class="Listbtn btn-success btn-lg"><span class="glyphicon glyphicon-trash"></span> Delete Map</a></p>
			</div>	

	
			<div class="col-sm-9">
					
			<h1> {{ map_title }} </h1>
			<br>
	

			{% if messages %}
			<class="messages">
    			{% for message in messages %}
    			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
   	 		{% endfor %}
			{% endif %}
			<br>

	
			<div id="map-canvas"></div>

			</div>
	
</body>
</html>
	




