<!DOCTYPE html>
{% extends 'zippi/base.html' %}

{% load bootstrap3 %}



{% block content %}
    

<div class="container">
		<div class="row">
  	
			<div class="col-sm-2">			
			</div>
	
			<div class="col-sm-8">
				<h1>New Pin</h1>

		
				<br />
				{% if messages %}
				<br/>
			<class="messages">
    			{% for message in messages %}
    			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
   	 		{% endfor %}
			<br/>
			{% endif %}
			
    				<form class="form" method="POST" action="." >
				{% csrf_token %}
        			{% bootstrap_form form layout="vertical" %} 
				{% buttons %}
					<button type="submit" class="Listbtn btn-success btn-lg">Save Pin</button>
				{% endbuttons %}
    				</form>
			</div>

		<div class="col-sm-2">			
			
			
		</div>
</div>

	

{% endblock %}