<!DOCTYPE html>
{% extends 'zippi/base_start.html' %}
{% load bootstrap3 %}

{% block content %}

	<div class="container">
		<div class="row">
  	
			<div class="col-sm-2">			
			</div>
	
		<div class="col-sm-8">
	
			<h1>Create a Zippi Account</h1>

        		{% if registered %}
        		</br>
			</br></br></br>
			<strong>Thank you for registering!</strong> 
			</br>        		
			<h4><a href="/">Return to Start.</a></h4>


        		
			{% else %}
        		
        		<form id="user_form" class="form" method="post" action="/register/"
                	enctype="multipart/form-data">

            {% csrf_token %}
				
			{% bootstrap_form user_form layout="vertical" %} 
			{% bootstrap_form profile_form layout="vertical" %} 
				{% buttons %}
					<button type="submit" class="Listbtn btn-success btn-lg">Register</button>
				{% endbuttons %}


            
        </form>
        {% endif %}
   

{% endblock %}        